@import url("../index.css");

article.Card {
    position: relative;
    display: flex;
    gap: 10px;
    width: 100%;
    height: max-content;
    max-width: 400px;
    background-color: var(--secondary-background-color);
    border: 2px solid var(--primary-color);
    color: white;
    padding: 10px;
    border-radius: 20px;
    transition: all 0.3s ease;
    overflow: hidden;

    img {
        width: 100px;
        border-radius: 10px;
    }

    & > span {
        color: var(--secondary-background-color);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 25%;
        height: 25%;
        background-color: var(--primary-color);
        border-radius: 20px 0px 0px 0px;
    }
}
